<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>14.0f1</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>21</NumElts>
<DAQChannel>
<Name>DAQmx AI Channels</Name>
<Val>cDAQ9188-1992A39Mod4/ai0:7, cDAQ9188-1992A39Mod4/ai16:20</Val>
</DAQChannel>
<DBL>
<Name>Max Input(V)</Name>
<Val>5.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Input(V)</Name>
<Val>-5.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Sample Rate(Hz)</Name>
<Val>19200.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Samples</Name>
<Val>1000.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Input Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<DAQChannel>
<Name>DAQmx AO Channels</Name>
<Val>cDAQ9188-1992A39Mod1/ao0:3, cDAQ9188-1992A39Mod2/ao0:3, cDAQ9188-1992A39Mod3/ao0:3</Val>
</DAQChannel>
<DBL>
<Name>Excitation Duty Cycle(%)</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Excitation Current(Amps)</Name>
<Val>1.00000000000000E-4</Val>
</DBL>
<DBL>
<Name>Max Output(Amps)</Name>
<Val>1.00000000000000E-3</Val>
</DBL>
<DBL>
<Name>Min Output(Amps)</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Output Sample Rate(Hz)</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Output Samples</Name>
<Val>0.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Output Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<Refnum>
<Name>Aquatrak COM Port</Name>
<RefKind>VISA</RefKind>
<Val>COM2</Val>
</Refnum>
<DAQChannel>
<Name>DAQmx Ring Channel</Name>
<Val>cDAQ9188-1992A39Mod5/ai0</Val>
</DAQChannel>
<DBL>
<Name>Ring Time Level Offset (V)</Name>
<Val>1.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Ring Time Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<DAQChannel>
<Name>Thermistor Trigger Source</Name>
<Val>cDAQ9188-1992A39Mod5/ai0</Val>
</DAQChannel>
<DAQChannel>
<Name>Humidity Channel</Name>
<Val></Val>
</DAQChannel>
<Refnum>
<Name>DAQmx Humidity Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Winston\Documents\LabVIEW Data\Aquatrak Data\Aquatrak Data.tdms</Val>
</Path>
<Refnum>
<Name>Data Log Refnum</Name>
<RefKind>Data Log File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
</Cluster>
</LVData>