<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>18.0f2</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>4</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>2</NumElts>
<DAQChannel>
<Name>DAQmx AI Channels</Name>
<Val></Val>
</DAQChannel>
<Refnum>
<Name>Aquatrak COM Port</Name>
<RefKind>VISA</RefKind>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\dev\Documents\LabVIEW Data\Logged Data.log</Val>
</Path>
<Refnum>
<Name>Data Log Refnum</Name>
<RefKind>Data Log File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>UI RefNums</Name>
<NumElts>19</NumElts>
<Refnum>
<Name>Start Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D000043</Val>
</Refnum>
<Refnum>
<Name>Settings Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D100044</Val>
</Refnum>
<Refnum>
<Name>Exit Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D200004</Val>
</Refnum>
<Refnum>
<Name>System Log Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7E90000E</Val>
</Refnum>
<Refnum>
<Name>RS232 Buffer Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7EA00028</Val>
</Refnum>
<Refnum>
<Name>Ringtime Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7EB0002E</Val>
</Refnum>
<Refnum>
<Name>Avg Temp Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7EC00010</Val>
</Refnum>
<Refnum>
<Name>Thermistors Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7ED00017</Val>
</Refnum>
<Refnum>
<Name>Collar Meas Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D300042</Val>
</Refnum>
<Refnum>
<Name>Short Meas Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D400006</Val>
</Refnum>
<Refnum>
<Name>Mid Meas Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D50003E</Val>
</Refnum>
<Refnum>
<Name>Long Meas Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7D600005</Val>
</Refnum>
<Refnum>
<Name>Short LED Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7F700015</Val>
</Refnum>
<Refnum>
<Name>Mid LED Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7F800032</Val>
</Refnum>
<Refnum>
<Name>Long LED Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7F90001B</Val>
</Refnum>
<Refnum>
<Name>Short Offset Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7FC00061</Val>
</Refnum>
<Refnum>
<Name>Mid Offset Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7FA0001A</Val>
</Refnum>
<Refnum>
<Name>Long Offset Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7FB00009</Val>
</Refnum>
<Refnum>
<Name>Timer Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x7FD00060</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Meta Data</Name>
<NumElts>6</NumElts>
<String>
<Name>Calibration Location</Name>
<Val></Val>
</String>
<String>
<Name>Operator Name</Name>
<Val></Val>
</String>
<String>
<Name>Sensor SN</Name>
<Val></Val>
</String>
<String>
<Name>Cal Tube SN</Name>
<Val></Val>
</String>
<String>
<Name>Comments</Name>
<Val></Val>
</String>
<String>
<Name>Start Time</Name>
<Val></Val>
</String>
</Cluster>
</Cluster>
</LVData>